<footer class="container-fluid" style="background: url('<%- staticRoot %>/img/floresta.jpg'); background-position: center; background-repeat: no-repeat; background-size: cover;">

	<div class="row my-5">
		<!-- Logo && Separador -->
		<div class="col-md-6 p-3 text-center text-md-right">
			<img src="<%- staticRoot %>/img/logoBranco.png" alt="Logo terra 2030" style="width: auto; max-height: 105px; max-width: 80%; vertical-align: middle;" />
			<div class="ml-2 d-none d-md-inline-block" style="vertical-align: middle; background-color: white; width: 0.15rem; height: 80%;"></div>
		</div>

		<!-- Frase -->
		<div class="col-md-6 p-3 pl-md-0 text-center text-md-left" style="color: #fff;">
			<h3><b>ninguém<br/>deixado<br/>para trás.</b></h3>
		</div>
	</div>

	<div class="p-2" style="max-width: 800px; margin: 0 auto; background: rgba(255,255,255,0.8);">
		<div class="row justify-content-center">
			<div class="col-lg col-md-4 col-sm-4 col-6">
				<a href="https://portal.fiocruz.br/estrategia-fiocruz-para-agenda-2030" target="_blank"><img class="logo" alt="Logo Fiocruz" src="<%- staticRoot %>/img/estrategia-fiocruz-2.png"></a>
			</div>
			<div class="col-lg col-md-4 col-sm-4 col-6">
				<a href="https://espm.br" target="_blank"><img class="logo" alt="Logo ESPM" src="<%- staticRoot %>/img/logo_espm_2.png"></a>
			</div>
			<div class="col-lg col-md-4 col-sm-4 col-6">
				<a href="https://portal.fiocruz.br/programa/programa-institucional-de-territorios-sustentaveis-e-saudaveis" target="_blank"><img class="logo" alt="Logo PITSS" src="<%- staticRoot %>/img/selo_pitss_horiz_2.png"></a>
			</div>
			<div class="col-lg col-md-4 col-sm-4 col-6">
				<a href="https://agora.fiocruz.br/" target="_blank"><img class="logo" alt="Logo Soluções para a Saúde" src="<%- staticRoot %>/img/saude-2.png"></a>
			</div>
			<div class="col-lg col-md-4 col-sm-4 col-6">
				<a href="https://brazil.unfpa.org/pt-br" target="_blank"><img class="logo" alt="Logo UNFPA" src="<%- staticRoot %>/img/unfpa.png"></a>
			</div>
		</div>
	</div>

	<div class="text-center my-5 px-2" style="color: #fff;">
		<small>Copyright &copy; Fiocruz 2023</small>
	</div>

</footer>
