<ul class="navbar-nav bg-dark-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="<%- root %>/">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Plataforma Ágora</div>
	</a>

	<hr class="sidebar-divider my-0">

	<!-- Para deixar sempre em destaque, basta adicionar a classe active -->
	<li class="nav-item">
		<a class="nav-link" href="<%- root %>/">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span>
		</a>
	</li>

	<% if (usuario.admin) { %>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuarios" aria-expanded="true" aria-controls="collapseUsuarios">
			<i class="fas fa-fw fa-users"></i>
			<span>Usuários</span>
		</a>
		<div id="collapseUsuarios" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="<%- root %>/usuario/criar">Criar</a>
				<a class="collapse-item" href="<%- root %>/usuario/listar">Gerenciar</a>
			</div>
		</div>
	</li>
	<% } %>

	<hr class="sidebar-divider">

	<div class="sidebar-heading">
		Interface
	</div>

	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
			<i class="fas fa-fw fa-cog"></i>
			<span>Componentes</span>
		</a>
		<div id="collapseTwo" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Personalizados</h6>
				<a class="collapse-item" href="<%- root %>/exemplo/botoes">Botões</a>
				<a class="collapse-item" href="<%- root %>/exemplo/cards">Cards</a>
				<a class="collapse-item" href="<%- root %>/exemplo/data">Data</a>
			</div>
		</div>
	</li>

	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
			<i class="fas fa-fw fa-wrench"></i>
			<span>Utilitários</span>
		</a>
		<div id="collapseUtilities" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Personalizados</h6>
				<a class="collapse-item" href="<%- root %>/exemplo/cores">Cores</a>
				<a class="collapse-item" href="<%- root %>/exemplo/bordas">Bordas</a>
				<a class="collapse-item" href="<%- root %>/exemplo/animacoes">Animações</a>
				<a class="collapse-item" href="<%- root %>/exemplo/outros">Outros</a>
			</div>
		</div>
	</li>

	<hr class="sidebar-divider">

	<div class="sidebar-heading">
		Extras
	</div>

	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
			aria-expanded="true" aria-controls="collapsePages">
			<i class="fas fa-fw fa-folder"></i>
			<span>Páginas</span>
		</a>
		<div id="collapsePages" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<h6 class="collapse-header">Externas</h6>
				<a class="collapse-item" href="<%- root %>/exemplo/registro">Registro</a>
				<a class="collapse-item" href="<%- root %>/exemplo/esqueci">Esqueci a senha</a>
				<div class="collapse-divider"></div>
				<h6 class="collapse-header">Outras</h6>
				<a class="collapse-item" href="<%- root %>/exemplo/nao-sera-encontrada">Não encontrada</a>
				<a class="collapse-item" href="<%- root %>/exemplo/vazia">Vazia</a>
			</div>
		</div>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="<%- root %>/exemplo/graficos">
			<i class="fas fa-fw fa-chart-area"></i>
			<span>Gráficos</span>
		</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" href="<%- root %>/exemplo/tabelas">
			<i class="fas fa-fw fa-table"></i>
			<span>Tabelas</span>
		</a>
	</li>

	<hr class="sidebar-divider d-none d-md-block">

	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
