<!-- <ul class="navbar-nav bg-dark-primary sidebar sidebar-dark accordion d-none d-md-flex" id="accordionSidebar"> -->
<ul class="navbar-nav sidebar accordion d-none d-md-flex" id="accordionSidebar">

	<li class="nav-item text-center p-3 mb-3">
		<a href="<%- root %>/">
			<img src="<%- staticRoot %>/img/logo.png" style="max-width: 100%;">
		</a>
	</li>

	<% if (usuario) { %>

	<!-- <hr class="sidebar-divider my-0" /> -->

	<!-- Para deixar sempre em destaque, basta adicionar a classe active -->
	<li class="nav-item">
		<a class="nav-link" href="<%- root %>/dashboard">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span>
		</a>
	</li>

	<hr class="sidebar-divider" />

	<% } %>

	<li class="nav-item">
		<a class="nav-link" target="_blank" href="https://news.un.org/pt/">
			<i class="fas fa-fw fa-newspaper"></i>
			<span>Notícias</span>
			<!-- <i class="fa fa14 fa-external-link-alt"></i> -->
		</a>
	</li>

	<hr class="sidebar-divider" />

	<li class="nav-item">
		<a class="nav-link" href="<%- root %>/quemSomos">
			<i class="fas fa-fw fa-question-circle"></i>
			<span>Quem Somos</span>
		</a>
	</li>

	<% if (usuario) { %>

	<hr class="sidebar-divider" />

	<% if (usuario.admin) { %>
	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsuarios" aria-expanded="true" aria-controls="collapseUsuarios">
			<i class="fas fa-fw fa-users"></i>
			<span>Usuários</span>
		</a>
		<div id="collapseUsuarios" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="<%- root %>/usuario/criar">Criar</a>
				<a class="collapse-item" href="<%- root %>/usuario/listar">Gerenciar</a>
			</div>
		</div>
	</li>

	<hr class="sidebar-divider" />

	<% } %>

	<li class="nav-item">
		<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProjetos" aria-expanded="true" aria-controls="collapseProjetos">
			<i class="fas fa-fw fa-bullhorn"></i>
			<span>Projetos</span>
		</a>
		<div id="collapseProjetos" class="collapse" data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="<%- root %>/projeto/criar">Criar</a>
				<a class="collapse-item" href="<%- root %>/projeto/listar">Gerenciar</a>
			</div>
		</div>
	</li>

	<% } %>

	<hr class="sidebar-divider d-none d-md-block" />

	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>
