<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("partials/cabecalho") %>

	<style type="text/css">
		body {
			background: url("<%- staticRoot %>/img/floresta.jpg") ;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-attachment: fixed;
		}

		label.error {
			text-align: center;
		}

		.login-logo-div {
			align-items: flex-end;
		}

		.login-logo{
			width: 50%;
			margin-right: 15px;
		}

		.login-separator {
			background-color: white;
			width: 4px;
			height: 30%;
		}

		.login-title {
			font-size: 54px;
			font-weight: bold;
			color: white
		}

		.login-card {
			min-width: 55%;
			background-color: white;
			border-radius: 0.35rem;
			padding: 1.5rem;
		}

		.login-card-separator {
			background-color: #cecece;
			width: 90%;
			height: 2px;
		}

		/* RESPONSIVENESS */
		@media only screen and (max-width: 1280px) {
			.login-title {
				font-size: 42px;
				font-weight: bold;
				color: white
			}

			.form-text {
				font-size: 11px;
			}
		}

		@media only screen and (max-width: 992px) {
			.login-logo-div {
				align-items: center;
				
			}

			.login-logo {
				margin: 0;
				width: 25%;
			}

			.login-title {
				font-size: 34px;
				font-weight: bold;
				color: white
			}

			.login-separator-div {
				display: none !important;
			}

			.login-separator {
				display: none;
			}
		}

		@media only screen and (max-width: 768px) {
			.login-title {
				font-size: 30px;
				font-weight: bold;
				color: white;
			}
		}

		@media only screen and (max-width: 576px) {
			.login-title {
				font-size: 26px;
				font-weight: bold;
				color: white;
			}
		}
	</style>

	<%- defineContent("styles") %> <!-- Customized style -->
</head>
<body>
	<%- body %>

	<%- include("partials/rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>
