<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("partials/cabecalho") %>

	<%- defineContent("styles") %>
</head>
<body>
	<a class="sr-only" href="#content-main-body">Ir para conteúdo</a>

	<div id="wrapper">

		<%- include("partials/sidebar") %>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<%- include("partials/topbar") %>

				<div class="container-fluid" id="content-main-body">

					<% if (typeof titulo !== "undefined" && titulo) { %>
					<h1 class="mb-4 text-gray-800"><%= titulo %></h1>
					<% } %>

					<%- body %>

				</div>

			</div>

			<%- include("partials/footer") %>
		</div>

	</div>

	<%- include("partials/rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>
