<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<%- include("partials/cabecalho") %>

	<%- defineContent("styles") %>
</head>
<body>
	<div id="wrapper">

		<%- include("partials/sidebar") %>

		<div id="content-wrapper" class="d-flex flex-column">

			<div id="content">

				<%- include("partials/topbar") %>

				<div class="container-fluid">

					<h1 class="mb-4 text-gray-800"><%=((typeof titulo === "undefined" || !titulo) ? "terra 2030" : titulo) %></h1>

					<%- defineContent("topcontent") %>

					<div class="card shadow mb-4" id="form">
						<%- defineContent("cardheader") %>
						<div class="card-body px-0">

							<%- body %>

						</div>

						<div class="card-footer">
							<div class="row align-items-center">
								<div class="col-md-6 offset-md-6 text-center text-md-right">
									<button type="button" class="btn btn-light" onclick="if (window.history.length > 1) { window.history.back(); } else { window.close() }">Voltar</button>
								</div>
							</div>
						</div>
					</div>

				</div>

			</div>

			<%- include("partials/footer") %>
		</div>

	</div>

	<%- include("partials/rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>
