<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title><%=((typeof titulo === "undefined" || !titulo) ? "TERRA 2030" : (titulo + " - TERRA 2030")) %></title>

	<%- include("partials/cabecalho") %> <!-- fonts && bootstrap -->

	<style type="text/css">
		body {
			background: url("<%- staticRoot %>/img/floresta.jpg") ;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
	
		.login-logo-div {
			align-items: flex-end;
		}
	
		.login-logo{
			width: 50%;
			margin-right: 15px;
		}
	
		.login-separator {
			background-color: white;
			width: 4px;
			height: 30%;
		}
	
		.login-title {
			font-size: 54px;
			font-weight: bold;
			color: white
		}
	
		.login-card{
			min-width: 55%;
			min-height: 45%;
			background-color: white;
			border-radius: 0.35rem;
			padding: 0 20px;
		}
	
		.login-card-separator{
			background-color: #cecece;
			width: 90%;
			height: 2px;
	
		}
	
		/* RESPONSIVENESS */
		@media only screen and (max-width: 1280px) {
			.login-title {
				font-size: 42px;
				font-weight: bold;
				color: white
			}
	
			.form-text{
				font-size: 11px
			}
	
			.login-card{
				min-width: 55%;
				min-height: 50%;
				padding: 30px 20px
			}
		}
	
		@media only screen and (max-width: 992px) {
			.login-logo-div{
				align-items: center;
				
			}
	
			.login-logo{
				margin: 0;
				width: 25%;
			}
	
			.login-title {
				font-size: 34px;
				font-weight: bold;
				color: white
			}
	
			.login-separator-div{
				display: none !important;
			}
	
			.login-separator{
				display: none ;
			}
	
			.login-card{
				margin: 0 !important;
			}
	
			.login-card{
				padding: 50px 20px
			}
		}
	
		@media only screen and (max-width: 768px) {
			.login-title {
				font-size: 30px;
				font-weight: bold;
				color: white
			}
		}
	
		@media only screen and (max-width: 576px) {
			.login-title {
				font-size: 26px;
				font-weight: bold;
				color: white
			}
		}
	</style>

	<%- defineContent("styles") %> <!-- Customized style -->
</head>
<body>
	<%- body %>

	<%- include("partials/rodape") %>

	<%- defineContent("scripts") %>
</body>
</html>
