<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1>Lista de Doações</h1>
      <ul>
        <% lista.forEach(function(doacao) { %>
          <li>
            Data: <%= doacao.data %><br>
              Valor: R$ <%= doacao.valor %><br>
                <% if (doacao.anonimo===1) { %>
                  Doador: Doação Anônima<br>
                  <% } else { %>
                    Doador: <%= doacao.nome %><br>
                      <% } %>
          </li> 
          <% }); %>
      </ul>
    </div>
  </div>

  <div class="row pb-3">
    <div class="card-deck">
      <% lista.forEach(function(doacao) { %>
        <div class="card">
          <div class="card-header">
            <%= doacao.nome %><br>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= doacao.nome_projeto %>
            </h5>
            <hr style="margin: 1.5rem -1.5rem;" />
            <p class="card-text">Valor Doado: R$<%= doacao.valor %></p>
            <p class="card-text">Data: <%= doacao.data %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </div>
  
  <div class="row">
    <div>
      <input type="hidden" id="id" name="id" value='<%= usuario.id%>' />
    </div>

    <div>
      <a onclick="doar()">
        <button style="padding: 10px; color: green; background-color: gray;">
            Doar
        </button>
      </a>
    </div>
  </div>
</div>
  
  <!--
Check box para doação anônima
<div>
  <label for="anonimo">Doação Anônima</label>
  <input id="anonimo" name="anonimo" maxlength="100" class="form-control" type="checkbox" spellcheck="false" />
</div>

-->



<script>
  let idprojeto = 0;
  let valorAnonimo;
  
  async function doar() {
      check();

      let doacao = {
        idusuario: document.getElementById('id').value,
        idprojeto: idprojeto,
        valor: document.getElementById('Valor').value,
        anonimo: valorAnonimo
      };

      try {
        let response = await fetch('newDoacao', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(doacao)
        });

        if (response.ok) {
          alert('Doação realizada com sucesso!')
        } else {
          alert('Erro ao realizar doação!')
        }
      } catch (error) {
        console.error('Erro durante a requisição:', error);
      }
    }

    function check(){

      if (document.getElementById('anonimo').checked) {
        valorAnonimo = 1;
      } else {
        valorAnonimo = 0;
      }

    }

    function obterProjeto(IdSelect){
      idprojeto = IdSelect;
    }
</script>