<div class="container-fluid pb-3">
  <div class="row">
    <div class="col-12">
      <input type="hidden" id="id" name="id" value='<%= usuario.id%>' />

      <div class="form-group">
        <label for="exampleFormControlSelect1">Selecione o Projeto</label>
        <select class="form-control" id="idProjeto">
          <option value="0">Selecione um projeto</option>
          <% projetos.forEach(function(projeto) { %>
            <option value='<%- projeto.id %>' onclick="obterProjeto()">
              <%= projeto.nome %>
            </option>
          <% }); %>    
        </select>
      </div>
    </div>

    <div class="col-sm-3">
      <div>
        <label for="anonimo">Doação Anônima</label>
        <input id="anonimo" name="anonimo" class="form-control checkbox" type="checkbox" spellcheck="false"/>
      </div>
    </div>

    <div class="col-sm-9">
      <label for="inputAddress">Valor para doação</label>
      <input type="number" class="form-control" id="Valor" placeholder="Valor para doação">  
    </div>
  </div>

  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-primary" onclick="doar()">Doar</button>
  </div>
</div>

<div class="container-fluid">
  <div class="row pb-3">
    
      <% lista.forEach(function(doacao) { %>
       <div class="card-deck">
         <div class="card">
          <div class="card-header">
            <%= doacao.nome %><br>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              <%= doacao.nome_projeto %>
            </h5>
            <hr style="margin: 1.5rem -1.5rem;" />
            <p class="card-text">Valor Doado: R$<%= doacao.valor %>
            </p>
            <p class="card-text">Data: <%= doacao.data %>
            </p>
          </div>
        </div>
      </div>
        <% }); %>
    
  </div>
</div>
<!--
Check box para doação anônima
<div>
  <label for="anonimo">Doação Anônima</label>
  <input id="anonimo" name="anonimo" maxlength="100" class="form-control" type="checkbox" spellcheck="false" />
</div>

-->



<!--Style + CSS-->
<%- contentFor("styles") %>
<style type="text/css">
.checkbox {
  display: inline-block;
}
</style>

<!--Script para doação para o projeto-->
<%- contentFor("scripts") %>
<script>
  let idprojeto = 0;
  let valorAnonimo;

function check() {
  let valorAnonimo = document.getElementById('anonimo').checked ? 1 : 0
}

function obterProjeto() {
  let dropdown = document.getElementById('idProjeto');
  idprojeto = dropdown.options[dropdown.selectedIndex].value;
}

async function doar() {
  check();
  obterProjeto();

  let doacao = {
    idusuario: document.getElementById('id').value,
    idprojeto: idprojeto,
    valor: document.getElementById('Valor').value,
    anonimo: valorAnonimo
  };

  if (doacao.idprojeto == 0) {
    alert('Selecione um projeto!');
    return;
  } else if (doacao.valor <= 0) {
    alert('Digite um valor válido para a doação!');
    return;
  }

  try {
    let response = await fetch('newDoacao', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(doacao)
    });

    if (response.ok) {
      alert('Doação realizada com sucesso!')
    } else {
      alert('Erro ao realizar doação!')
    }
  } catch (error) {
    console.error('Erro durante a requisição:', error);
  }
}

</script>