<div class="row" style="
	margin: -1.5rem -1.5rem 0;
	background: url('<%- staticRoot %>/img/floresta.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;">

	<!-- Logo && Separator -->
	<div class="col-md-6 p-3 text-center text-md-right">
		<img class="login-logo " src="<%- staticRoot %>/img/logoBranco.png" alt="Logo terra 2030" style="max-height: 100px; max-width: 80%; vertical-align: middle;" />
		<div class="ml-2 d-none d-md-inline-block" style="vertical-align: middle;
		background-color: white;
		width: 0.15rem;
		height: 80%;"></div>
	</div>

	<!-- Frase -->
	<div class="col-md-6 p-3 pl-md-0 text-center text-md-left" style="color: #fff;">
		<h3><b>ninguém<br/>será deixado<br/>para trás.</b></h3>
	</div>

</div>

<!-- Carousel -->
<div class="row limitador mt-5">
	<div class="col">
		<h3><b>PROJETOS RECENTES</b></h3>

		<div id="carouselRecentes" class="carousel slide shadow mt-3" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselRecentes" data-slide-to="0" class="active"></li>
				<% let maximoRecentes = Math.min(3, lista.length); for (let i = 1; i < maximoRecentes; i++) { %>
				<li data-target="#carouselRecentes" data-slide-to="<%- i %>"></li>
				<% } %>
			</ol>

			<div class="carousel-inner">
				<% for (let i = 0; i < maximoRecentes; i++) { let item = lista[i]; %>
				<div class="carousel-item <%- (i ? '' : 'active') %>">
					<a class="d-block" href="#" onclick="return exibirProjeto('<%- item.id %>')"><img class="d-block main-slider-img" src="<%- staticRoot %><%- PrefixoAbsolutoImagem %>/<%- item.id %>.jpg?<%- item.versaoimagem %>" alt="Imagem do projeto"></a>
					<div class="main-slider-caption w-100">
						<a class="carousel-control-prev" href="#carouselRecentes" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Anterior</span>
						</a>
						<h5><a class="carousel-link" href="#" onclick="return exibirProjeto('<%- item.id %>')"><%= item.nome %></a></h5>
						<a class="carousel-control-next" href="#carouselRecentes" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Próximo</span>
						</a>
					</div>
				</div>
				<% } %>
			</div>

		</div>
	</div>
</div>

<div class="row limitador mt-5">
	<div class="col-md-8">
		<h3><b>TODOS OS PROJETOS</b></h3>
	</div>

	<div class="col-md-4 text-right">
		<select class="form-control" id="ordem" onchange="reordenar()">
			<option value="1">Mais recentes</option>
			<option value="2">Mais antigos</option>
			<option value="3">A - Z</option>
			<option value="4">Z - A</option>
		</select>
	</div>
</div>

<p class="text-center mt-3 mb-2">Filtros</p>

<form id="form">
	<div class="row limitador">
		<div class="col-md-4 my-2">
			<div class="cb-search">
				<select id="idestado" name="idestado" class="form-control">
					<option value="">UF</option>
					<% for (let i = 1; i <= estados.length; i++) { %>
						<option value="<%- i %>"><%- estados[i - 1].nome %></option>
					<% } %>
				</select>
			</div>
			<script type="text/javascript">
				//<![CDATA[
				"use strict";
				prepareCbSearch(_("idestado"));
				//]]>
			</script>
		</div>
		<div class="col-md-8 my-2">
			<div class="cb-search">
				<select id="idcidade" name="idcidade" class="form-control"><option value="" selected="selected">Cidade</option></select>
			</div>
			<script type="text/javascript">
				//<![CDATA[
				"use strict";
				prepareCbSearch(_("idcidade"));
				//]]>
			</script>
		</div>
	</div>

	<div class="row limitador">
		<div class="col-md-4 my-2">
			<input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" />
		</div>
		<div class="col-md-8 my-2">
			<div class="cb-search">
				<select id="ods" name="ods" class="form-control">
					<option value="">ODS</option>
					<% for (let i = 0; i < ods.length; i++) { %>
						<option value="<%- ods[i].id %>"><%- ods[i].id %> - <%= ods[i].nome %></option>
					<% } %>
				</select>
			</div>
			<script type="text/javascript">
				//<![CDATA[
				"use strict";
				prepareCbSearch(_("ods"));
				//]]>
			</script>
		</div>
	</div>

	<div class="text-center mt-2">
		<button type="button" class="btn btn-outline-danger mb-2" onclick="$('#form')[0].reset(); filtrar()"><i class="fa fa14 fa-fw fa-times"></i> Limpar Filtros</button>
		<button type="submit" class="btn btn-secondary mb-2"><i class="fa fa14 fa-fw fa-filter"></i> Filtrar Projetos</button>
	</div>
</form>

<div class="text-center px-4 my-5" id="vazio" style="display: none;">Não há projetos com as características desejadas 😢</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 limitador mt-5 mb-1" id="container" style="display: none;"></div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" id="modal" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h5 class="modal-title" id="modalTitle">Detalhes do Projeto</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body main-modal-body">
				<p class="text-center">
					Gostou do projeto?<br />
					<a class="d-inline-block mt-2" href="#" onclick="return compartilhar();"><i class="fa fa-share-alt"></i> Clique aqui para compartilhar! 😊</a>
				</p>

				<hr style="margin: 1.5rem -1.5rem;" />

				<h4 class="mb-4" id="modalNome"></h4>

				<img class="main-modal-img mb-4" id="modalImagem" alt="Imagem do projeto" />

				<div class="mb-4">
					<p class="m-0"><i class="fa fa-map-marker-alt"></i> <b id="modalCidade"></b></p>
					<p id="modalLinkMapaP" class="mt-2 mb-0"><a target="_blank" id="modalLinkMapa" href=""><i class="fa fa-external-link-alt"></i> Ver no mapa</a></small></p>
				</div>

				<p class="main-modal-p-head mb-2">OBJETIVOS - ODS</p>
				<div id="modalOds"></div>

				<div class="row">
					<div class="col-lg-6">
						<p class="main-modal-p-head my-2">RESUMO DO PROJETO</p>
						<p class="main-modal-p-body mb-4" id="modalDescricao"></p>
					</div>

					<div class="col-lg-6 mb-3">
						<p class="main-modal-p-head mt-0 mt-lg-2 mb-2">CONTATO</p>
						<p class="mb-2" id="modalEndereco"></p>
						<p class="mb-2"><a id="modalTelefone"></a></p>
						<p class="mb-2"><a id="modalEmail"></a></p>
						<div id="modalLinks"></div>
					</div>
				</div>

				<div class="main-modal-deco mb-3">
					<label class="main-modal-label">AUTOR</label>
					<h4 class="m-0" id="modalAutor"></h4>
				</div>

				<div class="main-modal-deco mb-3" id="modalMacroCategoriaDiv">
					<label class="main-modal-label">ÁREAS DE ATUAÇÃO</label>
					<ol class="main-modal-list" id="modalMacroCategoria"></ol>
				</div>

				<div class="main-modal-deco mb-3" id="modalPublicoDiv">
					<label class="main-modal-label">PÚBLICO-ALVO</label>
					<h4 class="m-0" id="modalPublico"></h4>
				</div>

				<div class="main-modal-deco mb-3">
					<label class="main-modal-label">LOCAL DE IMPLEMENTAÇÃO DA SOLUÇÃO</label>
					<h4 class="m-0" id="modalLocal"></h4>
				</div>

				<div class="main-modal-deco mb-3" id="modalAbrangenciaDiv">
					<label class="main-modal-label">ABRANGÊNCIA</label>
					<h4 class="m-0" id="modalAbrangencia"></h4>
				</div>

				<div class="main-modal-deco mb-3" id="modalParceirosDiv">
					<label class="main-modal-label">PARCEIROS</label>
					<h4 class="m-0" id="modalParceiros"></h4>
				</div>

				<div class="main-modal-deco mb-3" id="modalCaracteristicaDiv">
					<label class="main-modal-label">INFORMAÇÕES SOBRE A SOLUÇÃO</label>
					<ol class="main-modal-list" id="modalCaracteristica"></ol>
				</div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
			</div>

		</div>
	</div>
</div>

<%- contentFor("styles") %>

<style type="text/css">
	.limitador {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-link, .carousel-link:hover, .carousel-link:active {
		color: #fff;
	}

	.card-projeto {
		cursor: pointer;
		max-width: 320px;
	    margin: 0 auto;
		transition: opacity .2s ease-in-out;
	}

	.card-projeto:hover {
		opacity: 0.75;
	}

	.text-ods {
		vertical-align: middle;
	}

	.img-ods {
		max-width: 16px;
		margin: .25rem;
	}

	.main-slider-img {
		width: 100%;
		height: 700px;
		object-fit: cover;
		object-position: center center;
	}

	.main-slider-caption {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 20px;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		text-align: center;
	}
	
	/* MODAL */

	.main-modal-img {
		width: 100%;
	}

	.main-modal-org-name {
		font-weight: 600;
	}

	.main-modal-body {
		padding: 1.5rem 1.5rem .5rem;
	}

	.main-modal-p-head {
		font-weight: 700;
		font-size: .8em;
	}

	.main-modal-p-body {
		text-align: justify;
  		text-justify: inter-word;
		white-space: pre-line;
	}

	.main-modal-deco {
		border-left: .5rem solid var(--primary);
		padding: 0 0 .5rem .5rem;
	}

	.main-modal-label {
		margin: 0;
		font-weight: 600;
		font-size: .75rem;
		vertical-align: bottom;
	}

	.main-modal-list {
		margin: 0;
		font-size: 1rem;
		padding-left: 1.5rem;
	}

	.main-modal-list li + li {
		margin-top: .5rem;
	}

	/* RESPONSIVENESS */

	@media (max-width: 1280px) {
		.main-slider-img {
			width: 100%;
			height: 500px;
		}
	}

	@media (max-width: 992px) {
		.main-slider-img {
			width: 100%;
			height: 450px;
		}
	}

	@media (max-width: 768px) {
		.main-slider-img {
			width: 100%;
			height: 400px;
		}
	}

	@media (max-width: 576px) {
		.main-slider-img {
			width: 100%;
			height: 300px;
		}
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var estados = <%- estadosJSON %>,
		abrangencias = <%- abrangenciasJSON %>,
		caracteristicas = <%- caracteristicasJSON %>,
		macroCategorias = <%- macroCategoriasJSON %>,
		statusProj = <%- statusJSON %>,
		lista = <%- JSON.stringify(lista) %>,
		listaFiltrada = (lista || []).slice(),
		projetoId = '<%= projetoId %>',
		modalProjetoURL = null,
		modalProjetoNome = null,
		ultimoEstado = 0,
		ultimaCidade = 0,
		ultimoNome = "",
		ultimaODS = "",
		vazio = document.getElementById("vazio"),
		container = document.getElementById("container");

	prepareCbState(_("idestado"), _("idcidade"));

	(function () {
		if (!lista || !lista.length)
			return;

		var i, j, item, cidade, html, ods, partes;

		for (i = lista.length - 1; i >= 0; i--) {
			item = lista[i];

			html = "";
			partes = item.resumoods.split(",");
			ods = {};

			for (j = 0; j < partes.length; j++) {
				ods[partes[j]] = true;
				html += '<img class="img-ods" alt="Logo ODS ' + partes[j] + '" src="<%- staticRoot %>/img/ods/' + partes[j] + '.svg" />';
			}

			item.nomenormalizado = normalizeAccent(item.nome);
			item.nomeoriginal = item.nome;
			item.nome = encode(item.nome);
			item.estado = estados[item.idestado].sigla || "";
			cidade = cidades[item.idestado];
			item.cidade = (cidade ? (cidade.c[item.idcidade - cidade.i] || "") : "");
			item.ods = ods;
			item.resumoods = html;
		}
	})();

	function exibirProjeto(id) {
		if (JsonWebApi.active)
			return false;

		Swal.wait();

		JsonWebApi.get("<%- root %>/api/projeto/obterExterno", function (response) {
			if (response.success) {
				if (!response.value) {
					Swal.error("Projeto não encontrado! " + emoji.sad);
					return;
				}

				Swal.close();

				var i, item, info, cidade, html, partes, macroCategoria, abrangencia, caracteristica;

				item = response.value;

				modalProjetoURL = "<%- urlSite %><%- root %>/projeto/" + id;
				modalProjetoNome = item.nome;

				$("#modalImagem").attr("src", "<%- staticRoot %><%- PrefixoAbsolutoImagem %>/" + item.id + ".jpg?" + item.versaoimagem);

				item.estado = estados[item.idestado].sigla || "";
				cidade = cidades[item.idestado];
				item.cidade = (cidade ? (cidade.c[item.idcidade - cidade.i] || "") : "");

				$("#modalCidade").text(item.cidade + " - " + item.estado);
				$("#modalNome").text(item.nome);
				$("#modalAutor").text(item.autor);
				$("#modalEndereco").text(item.logradouro + ", " + item.numero + (item.complemento ? ", " + item.complemento : "") + ", " + item.bairro + ", " + item.cep);
				$("#modalTelefone").attr("href", "tel:" + item.telefone.replace("(", "").replace(") ", "-"));
				$("#modalTelefone").text(encode(item.telefone));
				$("#modalEmail").attr("href", "mailto:" + item.email);
				$("#modalEmail").text(encode(item.email));

				if (item.latitude) {
					$("#modalLinkMapa").attr("href", "https://www.google.com/maps/search/?api=1&query=" + item.latitude + "," + item.longitude);
					$("#modalLinkMapaP").show();
				} else {
					$("#modalLinkMapaP").hide();
				}

				html = "";
				partes = item.resumoods.split(",");

				for (i = 0; i < partes.length; i++)
					html += '<img class="mr-3 mb-3" width="80" height="80" alt="Logo ODS ' + partes[i] + '" src="<%- staticRoot %>/img/ods/' + partes[i] + '.svg" />';

				$("#modalOds").html(html);

				try {
					info = JSON.parse(item.info);
				} catch (ex) {
					info = null;
				}

				if (info) {
					partes = [];
					if (info.links) {
						for (i = 0; i < info.links.length; i++)
							partes.push('<p class="mb-2"><a target="_blank" href="' + info.links[i] + '"><i class="fa fa-external-link-alt"></i> ' + encode(info.links[i]) + ' </a></p>');
					}

					if (partes.length) {
						partes.sort(function (a, b) { return ((a < b) ? -1 : 1); });
						$("#modalLinks").html(partes.join(""));
						$("#modalLinks").show();
					} else {
						$("#modalLinks").hide();
					}

					$("#modalDescricao").text(info.descricao);

					$("#modalLocal").text(info.local);

					partes = [];
					if (info.macrocategoria) {
						for (i = 0; i < info.macrocategoria.length; i++) {
							macroCategoria = macroCategorias[info.macrocategoria[i]];
							if (!macroCategoria)
								continue;
							partes.push('<li><h4 class="m-0">' + macroCategoria.nome + '</li>');
						}
					}

					if (partes.length) {
						partes.sort(function (a, b) { return ((a < b) ? -1 : 1); });
						$("#modalMacroCategoria").html(partes.join(""));
						$("#modalMacroCategoriaDiv").show();
					} else {
						$("#modalMacroCategoriaDiv").hide();
					}

					if (info.publico) {
						$("#modalPublico").text(info.publico);
						$("#modalPublicoDiv").show();
					} else {
						$("#modalPublicoDiv").hide();
					}

					abrangencia = abrangencias[info.abrangencia];

					if (abrangencia) {
						$("#modalAbrangencia").text(abrangencia.nome);
						$("#modalAbrangenciaDiv").show();
					} else {
						$("#modalAbrangenciaDiv").hide();
					}

					if (info.parceiros) {
						$("#modalParceiros").text(info.parceiros);
						$("#modalParceirosDiv").show();
					} else {
						$("#modalParceirosDiv").hide();
					}

					partes = [];
					if (info.caracteristica) {
						for (i = 0; i < info.caracteristica.length; i++) {
							caracteristica = caracteristicas[info.caracteristica[i]];
							if (!caracteristica)
								continue;
							partes.push('<li><h4 class="m-0">' + caracteristica.nome + '</li>');
						}
					}

					if (partes.length) {
						partes.sort(function (a, b) { return ((a < b) ? -1 : 1); });
						$("#modalCaracteristica").html(partes.join(""));
						$("#modalCaracteristicaDiv").show();
					} else {
						$("#modalCaracteristicaDiv").hide();
					}
				} else {
					$("#modalLinks").hide();
					$("#modalDescricao").text("-");
					$("#modalLocal").text("-");
					$("#modalMacroCategoriaDiv").hide();
					$("#modalPublicoDiv").hide();
					$("#modalAbrangenciaDiv").hide();
					$("#modalParceirosDiv").hide();
					$("#modalCaracteristicaDiv").hide();
				}

				$("#modal").modal({
					backdrop: "static",
					keyboard: true
				});
			} else {
				Swal.error(response.value + " " + emoji.sad);
			}
		}, "id", id);

		return false;
	}

	function reordenar() {
		if (!listaFiltrada || !listaFiltrada.length) {
			container.style.display = 'none';
			vazio.style.display = '';
			return;
		}

		var i, item, html;

		switch ($("#ordem").val()) {
			case "2":
				listaFiltrada.sort(function (a, b) { return a.id - b.id; });
				break;
			case "3":
				listaFiltrada.sort(function (a, b) { return ((a.nomenormalizado < b.nomenormalizado) ? -1 : 1); });
				break;
			case "4":
				listaFiltrada.sort(function (a, b) { return ((b.nomenormalizado < a.nomenormalizado) ? -1 : 1); });
				break;
			default:
				listaFiltrada.sort(function (a, b) { return b.id - a.id; });
				break;
		}

		html = '';

		for (i = 0; i < listaFiltrada.length; i++) {
			item = listaFiltrada[i];

			html += `
<div class="col mb-4">
	<div class="card card-projeto h-100" onclick="exibirProjeto(${item.id})">
		<img src="<%- staticRoot %><%- PrefixoAbsolutoIcone %>/${item.id}.jpg?${item.versaoimagem}" class="card-img-top" alt="Ícone do projeto" />
		<div class="card-body">
			<h5 class="card-title mb-3">${item.nome}</h5>
			<p class="card-text mb-3"><small><b><i class="fas fa-map-marker-alt mr-1"></i> ${item.cidade} - ${item.estado}</b></small></p>
			<p class="card-text"><small class="text-ods"><b>ODS</b></small> ${item.resumoods}</p>
		</div>
	</div>
</div>
			`;
		}

		container.innerHTML = html;

		vazio.style.display = 'none';
		container.style.display = '';
	}

	function filtrar() {
		var i, j, item, nomenormalizado, partes = null,
			estado = parseInt($("#idestado").val()) || 0,
			cidade = parseInt($("#idcidade").val()) || 0,
			nome = normalizeAccent($("#nome").val()),
			ods = $("#ods").val();

		if (ultimoEstado === estado &&
			ultimaCidade === cidade &&
			ultimoNome === nome &&
			ultimaODS === ods)
			return;

		ultimoEstado = estado;
		ultimaCidade = cidade;
		ultimoNome = nome;
		ultimaODS = ods;

		if (nome) {
			partes = nome.split(" ");

			for (i = partes.length - 1; i >= 0; i--) {
				if (!partes[i])
					partes.splice(i, 1);
			}

			if (!partes.length)
				partes = null;
		}

		listaFiltrada = lista.slice();

		if (estado || cidade || partes || ods) {
			for (i = listaFiltrada.length - 1; i >= 0; i--) {
				item = listaFiltrada[i];

				if ((estado && estado !== item.idestado) ||
					(cidade && cidade !== item.idcidade) ||
					(ods && !(ods in item.ods))) {
					listaFiltrada.splice(i, 1);
					continue;
				}

				if (partes) {
					nomenormalizado = item.nomenormalizado;

					for (j = partes.length - 1; j >= 0; j--) {
						if (nomenormalizado.indexOf(partes[j]) < 0) {
							listaFiltrada.splice(i, 1);
							break;
						}
					}
				}
			}
		}

		reordenar();
	}

	document.getElementById("form").onsubmit = function (e) {
		filtrar();
		return cancelEvent(e);
	};

	reordenar();

	function compartilharFallback() {
		Swal.success({
			html: 'Para compartilhar o projeto, basta copiar o endereço abaixo e enviar a quem quiser! ' + emoji.happy + '<br/><br/><a target="_blank" href="' + modalProjetoURL + '">' + modalProjetoURL + '</a><br/><br/><button type="button" class="btn btn-copyjs btn-secondary" data-clipboard-title="Copiar Endereço" data-clipboard-text="' + modalProjetoURL + '"><i class="fa fa14 fa-fw fa-copy"></i> Copiar Endereço</button>',
			title: "Compartilhar Projeto",
			confirmButtonText: "Fechar",
			didOpen: function () {
				setTimeout(function () {
					prepareCopyHandler(document.getElementById("modal"));
				}, 50);
			}
		});
	}

	function compartilhar() {
		if (modalProjetoURL && modalProjetoNome) {
			if (("share" in navigator)) {
				try {
					navigator.share({
						title: "terra 2030 - Projeto " + modalProjetoNome,
						url: modalProjetoURL
					}).then(function () {
					}).catch(compartilharFallback);

					return false;
				} catch (ex) {
					// Apenas ignora...
				}
			}

			compartilharFallback();
		}
		return false;
	}

	if (projetoId) {
		(function () {
			projetoId = parseInt(projetoId);
			if (!projetoId || projetoId < 0) {
				Swal.error("Projeto não encontrado " + emoji.sad);
			} else {
				for (var i = lista.length - 1; i >= 0; i--) {
					if (lista[i].id === projetoId) {
						exibirProjeto(projetoId);
						return;
					}
				}
				Swal.error("Projeto não encontrado " + emoji.sad);
			}
		})();		
	}

	//]]>
</script>
