<div class="row" style="
	margin: -1.5rem -1.5rem 0;
	background: url('<%- staticRoot %>/img/floresta.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;">

	<!-- Logo && Separator -->
	<div class="col-md-6 p-3 text-center text-md-right">
		<img class="login-logo " src="<%- staticRoot %>/img/logoBranco.png" alt="Logo terra 2030" style="max-height: 100px; max-width: 80%; vertical-align: middle;" />
		<div class="ml-2 d-none d-md-inline-block" style="vertical-align: middle;
		background-color: white;
		width: 0.15rem;
		height: 80%;"></div>
	</div>

	<!-- Frase -->
	<div class="col-md-6 p-3 pl-md-0 text-center text-md-left" style="color: #fff;">
		<h3><b>ninguém<br/>será deixado<br/>para trás.</b></h3>
	</div>

</div>

<!-- Carousel -->
<div class="row limitador mt-5">
	<div class="col">
		<h3>PROJETOS RECENTES</h3>

		<div id="carouselRecentes" class="carousel slide shadow mt-3" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselRecentes" data-slide-to="0" class="active"></li>
				<% let maximoRecentes = Math.min(3, lista.length); for (let i = 1; i < maximoRecentes; i++) { %>
				<li data-target="#carouselRecentes" data-slide-to="<%- i %>"></li>
				<% } %>
			</ol>

			<div class="carousel-inner">
				<% for (let i = 0; i < maximoRecentes; i++) { let item = lista[i]; %>
				<div class="carousel-item <%- (i ? '' : 'active') %>">
					<img class="d-block main-slider-img" src="<%- staticRoot %><%- PrefixoAbsolutoImagem %>/<%- item.id %>.jpg?<%- item.versaoimagem %>" alt="Imagem do projeto">
					<div class="main-slider-caption w-100">
						<a class="carousel-control-prev" href="#carouselRecentes" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Anterior</span>
						</a>
						<h5><a class="carousel-link" href="#" onclick="return exibirProjeto('<%- item.id %>')"><%= item.nome %></a></h5>
						<a class="carousel-control-next" href="#carouselRecentes" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Próximo</span>
						</a>
					</div>
				</div>
				<% } %>
			</div>

		</div>
	</div>
</div>

<div class="row limitador mt-5">
	<div class="col-md-8">
		<h3>TODOS OS PROJETOS</h3>
	</div>

	<div class="col-md-4 text-right">
		<select class="form-control" id="ordem" onchange="reordenar()">
			<option value="1">Mais recentes</option>
			<option value="2">Mais antigos</option>
			<option value="3">A - Z</option>
			<option value="4">Z - A</option>
		</select>
	</div>
</div>

<p class="text-center mt-3 mb-2">Filtros</p>

<form id="form">
	<div class="row limitador">
		<div class="col-md-4 my-2">
			<div class="cb-search">
				<select id="idestado" name="idestado" class="form-control">
					<option value="">UF</option>
					<% for (let i = 1; i <= estados.length; i++) { %>
						<option value="<%- i %>"><%- estados[i - 1].nome %></option>
					<% } %>
				</select>
			</div>
			<script type="text/javascript">
				//<![CDATA[
				"use strict";
				prepareCbSearch(_("idestado"));
				//]]>
			</script>
		</div>
		<div class="col-md-8 my-2">
			<div class="cb-search">
				<select id="idcidade" name="idcidade" class="form-control"><option value="" selected="selected">Cidade</option></select>
			</div>
			<script type="text/javascript">
				//<![CDATA[
				"use strict";
				prepareCbSearch(_("idcidade"));
				//]]>
			</script>
		</div>
	</div>

	<div class="row limitador">
		<div class="col-md-4 my-2">
			<input type="text" id="nome" name="nome" class="form-control" placeholder="Nome" />
		</div>
		<div class="col-md-8 my-2">
			<div class="cb-search">
				<select id="ods" name="ods" class="form-control">
					<option value="">ODS</option>
					<% for (let i = 0; i < ods.length; i++) { %>
						<option value="<%- ods[i].id %>"><%- ods[i].id %> - <%= ods[i].nome %></option>
					<% } %>
				</select>
			</div>
			<script type="text/javascript">
				//<![CDATA[
				"use strict";
				prepareCbSearch(_("ods"));
				//]]>
			</script>
		</div>
	</div>

	<div class="text-center mt-2">
		<button type="submit" class="btn btn-secondary"><i class="fa fa14 fa-fw fa-filter"></i> Filtrar Projetos</button>
	</div>
</form>

<div class="text-center px-4 my-5" id="vazio" style="display: none;">Não há projetos com as características desejadas 😢</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 limitador mt-5 mb-1" id="container" style="display: none;"></div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body main-modal">
				<div class="row d-flex flex-column flex-lg-row">
					<div class="col d-flex flex-column justify-content-center align-items-center">
						<!-- Img -->
						<img src="https://www.bioblog.com.br/wp-content/uploads/2017/03/ODS-N2-erradicacao-da-fome-.jpg" alt="ODS 1" class="main-modal-img"/>
						
						<h5 class="main-modal-sign d-flex align-items-center mt-3 mb-4"><i class="fas fa-chevron-down mr-2"></i>Mais informações<i class="fas fa-chevron-down ml-2"></i></h5>
						
					</div>
					<div class="col">
						<!-- Info principal -->
						<div class="d-flex flex-column">
							<div class="d-flex align-items-center">
								<i class="fas fa-map-marker-alt mr-1"></i>
								<p class="m-0"><b>São Paulo - SP</b></p>
							</div>
							<h4 class="main-modal-project-name">TEMA DO PROJETO</h4>
							<h5 class="main-modal-org-name">Nome da Organização</h5>
							<p class="main-modal-p-head">OBJETIVOS - ODS</p>
							<div class="d-flex flex-wrap">
								<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-modal-ods"/>
								<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-modal-ods"/>
								<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-modal-ods"/>
							</div>

							<p class="main-modal-p-head">RESUMO DO PROJETO</p>
							<p class="main-modal-p-body">
								Lorem ipsum dolor sit amet. Est culpa enim et debitis
								tempora sit laudantium quia et architecto eaque. Enim
								corrupti et deleniti velit aut fuga illum et voluptatum
								accusamus et iure inventore. Et autem nostrum qui sunt
								quibusdam quo fuga laborum est similique veniam nam
								molestiae assumenda cum ipsum nostrum.
							</p>
						</div>
					
					</div>
				</div>
				<div class="row mt-4">
					<!-- Mais Info - Green deco -->
					<div class="d-flex flex-column mb-2 px-2">
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">AUTOR</label>
								<h4 class="main-modal-label-header">Nome do Autor</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">ÁREAS DE ATUAÇÃO</label>
								<h4 class="main-modal-label-header">Nome das Áreas de Atuação</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">PÚBLICO ALVO</label>
								<h4 class="main-modal-label-header">Tipo de Público Alvo</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">LOCAL DE IMPLEMENTAÇÃO DA SOLUÇÃO</label>
								<h4 class="main-modal-label-header">Local da Implementação da solução feita por ongs nacionais</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">ABRANGÊNCIA</label>
								<h4 class="main-modal-label-header">Tipo de Abrangência</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">PARCEIROS</label>
								<h4 class="main-modal-label-header">Nome dos Parceiros</h4>
							</div>
						</div>

					</div>
				</div>


				<div class="row d-flex flex-column flex-lg-row">
					<!-- Lista Info - Green check -->
					<div class="col-lg-8 d-flex flex-column mb-4">
						<h4 class="mb-2">INFORMAÇÕES SOBRE A SOLUÇÃO</h4>
						<div>
							<div class="d-flex align-items-center text-justify justify-content-between">
								<p class="main-modal-info-p">Lorem Ipsum is simply dummy text of the printing</p>
								<i class="fas fa-check main-modal-check"></i>
							</div>
							<div class="d-flex align-items-center text-justify justify-content-between">
								<p class="main-modal-info-p">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
								<i class="fas fa-check main-modal-check"></i>
							</div>
							<div class="d-flex align-items-center text-justify justify-content-between">
								<p class="main-modal-info-p">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
								<i class="fas fa-check main-modal-check"></i>
							</div>
						</div>
					</div>
					<!-- Contato -->
					<div class="col-lg-4 mb-4">
						<h4>CONTATO</h4>
						<p class="main-modal-contact-p">TEL: 00 1234 5678</p>
						<p class="main-modal-contact-p">EMAIL: ABCD@HOTMAIL.COM</p>
						<p class="main-modal-contact-p">FACEBOOK: ABCDEFG</p>
						<p class="main-modal-contact-p">TWITTER: ABCDEFG</p>
					</div>

				</div>

				<!-- Comentarios -->
				<div class="row">
					<div class="col">
						<h4>COMENTÁRIOS</h4>
						<textarea class="main-modal-textarea"></textarea>
					</div>
				</div>
		</div>
	  </div>
	</div>
</div>

<%- contentFor("styles") %>

<style type="text/css">
	.limitador {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
	}

	.carousel-link, .carousel-link:hover, .carousel-link:active {
		color: #fff;
	}

	.card-projeto {
		cursor: pointer;
		max-width: 320px;
	    margin: 0 auto;
		transition: opacity .2s ease-in-out;
	}

	.card-projeto:hover {
		opacity: 0.75;
	}

	.img-ods {
		max-width: 64px;
		margin: 0.5rem;
	}

	.main-slider-img {
		width: 100%;
		height: 700px;
		object-fit: cover;
		object-position: center center;
	}

	.main-slider-caption {
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 20px;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		text-align: center;
	}
	
	/* MODAL */
	
	.main-modal-project-name {
		margin: 0;
	}
	
	.main-modal-sign {
		margin: 0;
		color: var(--blue);
		font-weight: 400;
		font-size: .8rem;
	}

	.main-modal-org-name {
		font-weight: 600;
	}

	.main-modal {
		padding: 20px 30px
	}

	.main-modal-img {
		width: 300px;
		height: 250px;
	}

	.main-modal-ods {
		width: 70px;
		height: 70px;
		margin: 0 8px 5px 0;
	}

	.main-modal-p-head {
		font-weight: 700;
		margin: 12px 0 0 0;
		font-size: .8em;
	}

	.main-modal-p-body {
		text-align: justify;
  		text-justify: inter-word;
		margin: 0

	}

	.main-modal-deco {
		width: 8px;
		background-color: var(--blue);
		margin-right: 8px;
	}

	.main-modal-label {
		margin: 0;
		font-weight: 600;
		font-size: .66rem;
	}

	.main-modal-label-header {
		margin: 0;
		overflow-wrap: break-word;
	}

	.main-modal-info {
		width: 65%;
	}

	.main-modal-contato {
		width: 35%;
	}

	.main-modal-info-p {
		text-align: justify;
		margin: 0 15px 0 0;
	}

	.main-modal-check {
		color: var(--blue);
	}

	.main-modal-contact-p {
		font-size: .65em;
		margin-bottom: 10px;
		font-weight: 800;
	}

	.main-modal-textarea {
		background-color: rgba(122, 190, 105, 0.507);
		border: 0;
		width: 70%;
		border-radius: 20px;
		padding: 15px;
		height: 150px;
		resize: none;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
	}

	.main-modal-textarea::-webkit-scrollbar {
		display: none;
	}

	.main-modal-textarea:focus{
		outline: none !important;
		border:1px solid #cecece;
		box-shadow: 0 0 5px 0 #719ece67;
	}

	/* RESPONSIVENESS */
	@media (max-width: 1280px) {
		.main-slider-img {
			width: 100%;
			height: 500px;
		}
	}

	@media (max-width: 992px) {
		.main-slider-img {
			width: 100%;
			height: 450px;
		}
	}

	@media (max-width: 768px) {
		.main-slider-img {
			width: 100%;
			height: 400px;
		}

		.main-modal-textarea {
			width: 100%;
			border-radius: 20px;
			padding: 15px;
			height: 150px;
		}
	}

	@media (max-width: 576px) {
		.main-slider-img {
			width: 100%;
			height: 300px;
		}
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	var estados = <%- estadosJSON %>,
		lista = <%- JSON.stringify(lista) %>,
		listaFiltrada = (lista || []).slice(),
		ultimoEstado = 0,
		ultimaCidade = 0,
		ultimoNome = "",
		ultimaODS = "",
		vazio = document.getElementById("vazio"),
		container = document.getElementById("container");

	prepareCbState(_("idestado"), _("idcidade"));

	(function () {
		if (!lista || !lista.length)
			return;

		var i, j, item, cidade, html, ods, partes;

		for (i = lista.length - 1; i >= 0; i--) {
			item = lista[i];

			html = "";
			partes = item.resumoods.split(",");
			ods = {};

			for (j = 0; j < partes.length; j++) {
				ods[partes[j]] = true;
				html += '<img class="img-ods" alt="Logo ODS" src="<%- staticRoot %>/img/ods/' + partes[j] + '.svg" />';
			}

			item.nomenormalizado = normalizeAccent(item.nome);
			item.nome = encode(item.nome);
			item.estado = estados[item.idestado].sigla || "";
			cidade = cidades[item.idestado];
			item.cidade = (cidade ? (cidade.c[item.idcidade - cidade.i] || "") : "");
			item.ods = ods;
			item.resumoods = html;
		}
	})();

	function exibirProjeto(id) {
		if (JsonWebApi.active)
			return false;

		Swal.wait();

		JsonWebApi.get("<%- root %>/api/projeto/obterExterno", function (response) {
			if (response.success) {
				if (!response.value) {
					Swal.error("Projeto não encontrado! " + emoji.sad);
					return;
				}

				Swal.close();
			} else {
				Swal.error(response.value + " " + emoji.sad);
			}
		}, "id", id);

		return false;
	}

	function reordenar() {
		if (!listaFiltrada || !listaFiltrada.length) {
			container.style.display = 'none';
			vazio.style.display = '';
			return;
		}

		var i, item, html;

		switch ($("#ordem").val()) {
			case "2":
				listaFiltrada.sort(function (a, b) { return a.id - b.id; });
				break;
			case "3":
				listaFiltrada.sort(function (a, b) { return ((a.nomenormalizado < b.nomenormalizado) ? -1 : 1); });
				break;
			case "4":
				listaFiltrada.sort(function (a, b) { return ((b.nomenormalizado < a.nomenormalizado) ? -1 : 1); });
				break;
			default:
				listaFiltrada.sort(function (a, b) { return b.id - a.id; });
				break;
		}

		html = '';

		for (i = 0; i < listaFiltrada.length; i++) {
			item = listaFiltrada[i];

			html += `
<div class="col mb-4">
	<div class="card card-projeto h-100" onclick="exibirProjeto(${item.id})">
		<img src="<%- staticRoot %><%- PrefixoAbsolutoIcone %>/${item.id}.jpg?${item.versaoimagem}" class="card-img-top" alt="Ícone do projeto" />
		<div class="card-body">
			<h5 class="card-title">${item.nome}</h5>
			<p class="card-text"><small><b><i class="fas fa-map-marker-alt mr-1"></i> ${item.cidade} - ${item.estado}</b></small></p>
			<p class="card-text text-center">${item.resumoods}</p>
		</div>
	</div>
</div>
			`;
		}

		container.innerHTML = html;

		vazio.style.display = 'none';
		container.style.display = '';
	}

	function filtrar() {
		var i, j, item, nomenormalizado, partes = null,
			estado = parseInt($("#idestado").val()) || 0,
			cidade = parseInt($("#idcidade").val()) || 0,
			nome = normalizeAccent($("#nome").val()),
			ods = $("#ods").val();

		if (ultimoEstado === estado &&
			ultimaCidade === cidade &&
			ultimoNome === nome &&
			ultimaODS === ods)
			return;

		ultimoEstado = estado;
		ultimaCidade = cidade;
		ultimoNome = nome;
		ultimaODS = ods;

		if (nome) {
			partes = nome.split(" ");

			for (i = partes.length - 1; i >= 0; i--) {
				if (!partes[i])
					partes.splice(i, 1);
			}

			if (!partes.length)
				partes = null;
		}

		listaFiltrada = lista.slice();

		if (estado || cidade || partes || ods) {
			for (i = listaFiltrada.length - 1; i >= 0; i--) {
				item = listaFiltrada[i];

				if ((estado && estado !== item.idestado) ||
					(cidade && cidade !== item.idcidade) ||
					(ods && !(ods in item.ods))) {
					listaFiltrada.splice(i, 1);
					continue;
				}

				if (partes) {
					nomenormalizado = item.nomenormalizado;

					for (j = partes.length - 1; j >= 0; j--) {
						if (nomenormalizado.indexOf(partes[j]) < 0) {
							listaFiltrada.splice(i, 1);
							break;
						}
					}
				}
			}
		}

		reordenar();
	}

	document.getElementById("form").onsubmit = function (e) {
		filtrar();
		return cancelEvent(e);
	};

	reordenar();

	//]]>
</script>
