
<!-- Filtros -->
<div class="row d-flex justify-content-center pt-5">
	<div class="col-lg-8 d-flex flex-column flex-lg-row">
		<div class="col-lg-4">
			<div class="input-group mr-4 mb-3 d-flex flex-row align-items-center justify-content-center">
				<input type="text" class="form-control main-input p-3" placeholder="Título">
			</div>
		</div>
		<div class="col-lg-4">
			<div class="input-group mr-4 mb-3">
				<select class="custom-select main-input ">
					<option selected disabled>Localização</option>
					<option value="1">São Paulo</option>
					<option value="2">Rio</option>
				</select>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="input-group mb-3">
				<select class="custom-select main-input">
					<option selected disabled>Objetivos (ODS)</option>
					<option value="1">Erradicação da Pobreza</option>
					<option value="2">Fome zero e Agricultura sustentável</option>
					<option value="3">Saúde e Bem-estar</option>
					<option value="4">Educação de qualidade</option>
					<option value="5">Igualdade de Gênero</option>
					<option value="6">Água potável e Saneamento</option>
					<option value="7">Energia limpa e acessível</option>
					<option value="8">Trabalho decente e Crescimento econômico</option>
					<option value="9">Indústria, inovação e insfraestrutura</option>
					<option value="10">Redução das desigualdades</option>
					<option value="11">Cidades e comunidades sustentáveis</option>
					<option value="12">Consumo e produção responsáveis</option>
					<option value="13">Ação contra a mudança global do clima</option>
					<option value="14">Vida na água</option>
					<option value="15">Vida terrestre</option>
					<option value="16">Paz, Justiça e instituições eficazes</option>
					<option value="17">Parcerias e meios de implementação</option>
				</select>
			</div>
		</div>
	</div>

</div>

<div class="row d-flex justify-content-center">
	<div class="d-flex align-items-center justify-content-center pt-2" >
		<button class="main-btn-load d-flex align-items-center" style="color: #6e707e">Carregar mais<i class="fas fa-chevron-down ml-2"></i></button>
	</div>
	
</div>

<!-- Mapa 
<div class="row d-flex justify-content-center pt-4">
	<div class="col-lg-8 bg-primary shadow" >
		Mapa
	</div>
	
</div> -->

<!-- Carousel -->
<div class="row d-flex justify-content-center pt-5">
	<div class="col-lg-8 ">
		<h3>PROJETOS DA SEMANA</h3>
		<div id="carouselExampleIndicators" class="carousel slide shadow mt-3 " data-ride="carousel">
			<ol class="carousel-indicators">
			  	<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			  	<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			  	<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
			  	<div class="carousel-item active">
					<img class="d-block main-slider-img" src="https://www.fundacaoabh.org.br/wp-content/uploads/2019/10/Arquivo_007.jpeg" alt="First slide">
					<div class="main-slider-caption w-100">
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
					  	</a>
						<h5>Titulo teste</h5>
						<p>placeholder de descrição pequena aqui</p>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
					  	</a>
					</div>
				</div>
			  	<div class="carousel-item">
					<img class="d-block main-slider-img" src="https://experienceclub.com.br/wp-content/uploads/2021/03/003.19.2021-New-School-Capa-de-materia.jpg" alt="Second slide">
					<div class="main-slider-caption w-100 ">
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
					  	</a>
						<h5>Titulo teste</h5>
						<p>placeholder de descrição pequena aqui</p>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
					  	</a>
					</div>
				</div>
			  	<div class="carousel-item">
					<img class="d-block main-slider-img" src="https://s2.glbimg.com/NicNaIWC0OIg7hr4oOayO8dX4Rw=/e.glbimg.com/og/ed/f/original/2020/10/23/mobiliza_cozinha_8.jpg" alt="Third slide">
					<div class="main-slider-caption w-100 ">
						<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
					  	</a>
						<h5>Titulo teste</h5>
						<p>placeholder de descrição pequena aqui</p>
						<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
					  	</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- hTodos Os projetos && select -->
<div class="row d-flex justify-content-center pt-5">
	<div class="col-lg-8 d-flex align-items-center justify-content-between">
		<h3 class="m-0">TODOS OS PROJETOS</h3>
		<div>
			<select class="custom-select mr-sm-2 main-input" id="inlineFormCustomSelect">
				<option selected disabled>Ordenar por</option>
				<option value="1">Mais recente</option>
				<option value="2">Mais antigo</option>
				<option value="3">Mais populares</option>
			</select>
		</div>
	</div>
	
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
	  <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		  </div>
		  <div class="modal-body main-modal">
				<div class="row d-flex flex-column flex-lg-row">
					<div class="col d-flex flex-column justify-content-center align-items-center">
						<!-- Img -->
						<img src="https://www.bioblog.com.br/wp-content/uploads/2017/03/ODS-N2-erradicacao-da-fome-.jpg" alt="ODS 1" class="main-modal-img"/>
						
						<h5 class="main-modal-sign d-flex align-items-center mt-3 mb-4"><i class="fas fa-chevron-down mr-2"></i>Mais informações<i class="fas fa-chevron-down ml-2"></i></h5>
						
					</div>
					<div class="col">
						<!-- Info principal -->
						<div class="d-flex flex-column">
							<div class="d-flex align-items-center">
								<i class="fas fa-map-marker-alt mr-1"></i>
								<p class="m-0"><b>São Paulo - SP</b></p>
							</div>
							<h4 class="main-modal-project-name">TEMA DO PROJETO</h4>
							<h5 class="main-modal-org-name">Nome da Organização</h5>
							<p class="main-modal-p-head">OBJETIVOS - ODS</p>
							<div class="d-flex flex-wrap">
								<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-modal-ods"/>
								<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-modal-ods"/>
								<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-modal-ods"/>
							</div>

							<p class="main-modal-p-head">RESUMO DO PROJETO</p>
							<p class="main-modal-p-body">
								Lorem ipsum dolor sit amet. Est culpa enim et debitis
								tempora sit laudantium quia et architecto eaque. Enim
								corrupti et deleniti velit aut fuga illum et voluptatum
								accusamus et iure inventore. Et autem nostrum qui sunt
								quibusdam quo fuga laborum est similique veniam nam
								molestiae assumenda cum ipsum nostrum.
							</p>
						</div>
					
					</div>
				</div>
				<div class="row mt-4">
					<!-- Mais Info - Green deco -->
					<div class="d-flex flex-column mb-2 px-2">
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">AUTOR</label>
								<h4 class="main-modal-label-header">Nome do Autor</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">ÁREAS DE ATUAÇÃO</label>
								<h4 class="main-modal-label-header">Nome das Áreas de Atuação</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">PÚBLICO ALVO</label>
								<h4 class="main-modal-label-header">Tipo de Público Alvo</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">LOCAL DE IMPLEMENTAÇÃO DA SOLUÇÃO</label>
								<h4 class="main-modal-label-header">Local da Implementação da solução feita por ongs nacionais</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">ABRANGÊNCIA</label>
								<h4 class="main-modal-label-header">Tipo de Abrangência</h4>
							</div>
						</div>
						<div class="d-flex mb-4">
							<div class="main-modal-deco"></div>
							<div>
								<label class="main-modal-label">PARCEIROS</label>
								<h4 class="main-modal-label-header">Nome dos Parceiros</h4>
							</div>
						</div>

					</div>
				</div>


				<div class="row d-flex flex-column flex-lg-row">
					<!-- Lista Info - Green check -->
					<div class="col-lg-8 d-flex flex-column mb-4">
						<h4 class="mb-2">INFORMAÇÕES SOBRE A SOLUÇÃO</h4>
						<div>
							<div class="d-flex align-items-center text-justify justify-content-between">
								<p class="main-modal-info-p">Lorem Ipsum is simply dummy text of the printing</p>
								<i class="fas fa-check main-modal-check"></i>
							</div>
							<div class="d-flex align-items-center text-justify justify-content-between">
								<p class="main-modal-info-p">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
								<i class="fas fa-check main-modal-check"></i>
							</div>
							<div class="d-flex align-items-center text-justify justify-content-between">
								<p class="main-modal-info-p">Lorem Ipsum is simply dummy text of the printing and typesetting</p>
								<i class="fas fa-check main-modal-check"></i>
							</div>
						</div>
					</div>
					<!-- Contato -->
					<div class="col-lg-4 mb-4">
						<h4>CONTATO</h4>
						<p class="main-modal-contact-p">TEL: 00 1234 5678</p>
						<p class="main-modal-contact-p">EMAIL: ABCD@HOTMAIL.COM</p>
						<p class="main-modal-contact-p">FACEBOOK: ABCDEFG</p>
						<p class="main-modal-contact-p">TWITTER: ABCDEFG</p>
					</div>

				</div>

				<!-- Comentarios -->
				<div class="row">
					<div class="col">
						<h4>COMENTÁRIOS</h4>
						<textarea class="main-modal-textarea"></textarea>
					</div>
				</div>
		</div>
	  </div>
	</div>
  </div>

  <!-- Cards -->
<div class="row d-flex justify-content-center mt-4">
	<div class="col-lg-8 d-flex align-items-center justify-content-between">
		<div class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
			<div class="col mb-4">
				<div class="card h-100 main-card" data-toggle="modal" data-target=".bd-example-modal-lg" style="border-radius: 20px;">
				  <img src="https://www.bioblog.com.br/wp-content/uploads/2017/03/ODS-N2-erradicacao-da-fome-.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex" style="min-height: 150px">
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Doação de arroz</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
						  </div>
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
					  </div>
				  </div>
				</div>
			</div>
			<div class="col mb-4">
			  <div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				<img src="https://agora.fiocruz.br/wp-content/uploads/2020/10/como-economizar-c3a1gua-em-casa-420x290.png" class="card-img-top main-card-img" alt="...">
				<div class="card-body d-flex" >
					<div class="d-flex flex-column pr-2" style="width: 70%;">
						<h6>Ensinando economia da água</h6>
						<div class="d-flex align-items-center main-card-sm-text">
							<i class="fas fa-map-marker-alt mr-1"></i>
							<p class="m-0"><b>São Paulo - SP</b></p>
						</div>
						<div class="d-flex align-items-center flex-wrap pt-3" >
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>

						</div>

					</div>
					<div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					</div>
				</div>
			  </div>
			</div>
			<div class="col mb-4">
				<div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				  <img src="https://expresso.estadao.com.br/wp-content/uploads/2021/09/ODS-Igualdade-de-Genero-Getty.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex" >
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Marcha pelos direitos das mulheres</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
  
						  </div>
  
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					  </div>
				  </div>
				</div>
			  </div>
			<div class="col mb-4">
				<div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				  <img src="https://www.estudoemdia.com.br/wp-content/uploads/2021/09/ED_dia_arvore.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex">
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Plantar árvores no parque</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
						  </div>
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					  </div>
				  </div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100 main-card" data-toggle="modal" data-target=".bd-example-modal-lg" style="border-radius: 20px;">
				  <img src="https://www.bioblog.com.br/wp-content/uploads/2017/03/ODS-N2-erradicacao-da-fome-.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex" style="min-height: 150px">
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Doação de arroz</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
						  </div>
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
					  </div>
				  </div>
				</div>
			</div>
			<div class="col mb-4">
			  <div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				<img src="https://agora.fiocruz.br/wp-content/uploads/2020/10/como-economizar-c3a1gua-em-casa-420x290.png" class="card-img-top main-card-img" alt="...">
				<div class="card-body d-flex" >
					<div class="d-flex flex-column pr-2" style="width: 70%;">
						<h6>Ensinando economia da água</h6>
						<div class="d-flex align-items-center main-card-sm-text">
							<i class="fas fa-map-marker-alt mr-1"></i>
							<p class="m-0"><b>São Paulo - SP</b></p>
						</div>
						<div class="d-flex align-items-center flex-wrap pt-3" >
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>

						</div>

					</div>
					<div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					</div>
				</div>
			  </div>
			</div>
			<div class="col mb-4">
				<div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				  <img src="https://expresso.estadao.com.br/wp-content/uploads/2021/09/ODS-Igualdade-de-Genero-Getty.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex" >
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Marcha pelos direitos das mulheres</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
  
						  </div>
  
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					  </div>
				  </div>
				</div>
			  </div>
			<div class="col mb-4">
				<div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				  <img src="https://www.estudoemdia.com.br/wp-content/uploads/2021/09/ED_dia_arvore.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex">
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Plantar árvores no parque</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
						  </div>
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					  </div>
				  </div>
				</div>
			</div>
			<div class="col mb-4">
				<div class="card h-100 main-card" data-toggle="modal" data-target=".bd-example-modal-lg" style="border-radius: 20px;">
				  <img src="https://www.bioblog.com.br/wp-content/uploads/2017/03/ODS-N2-erradicacao-da-fome-.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex" style="min-height: 150px">
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Doação de arroz</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
						  </div>
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						  <img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
					  </div>
				  </div>
				</div>
			</div>
			<div class="col mb-4">
			  <div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				<img src="https://agora.fiocruz.br/wp-content/uploads/2020/10/como-economizar-c3a1gua-em-casa-420x290.png" class="card-img-top main-card-img" alt="...">
				<div class="card-body d-flex" >
					<div class="d-flex flex-column pr-2" style="width: 70%;">
						<h6>Ensinando economia da água</h6>
						<div class="d-flex align-items-center main-card-sm-text">
							<i class="fas fa-map-marker-alt mr-1"></i>
							<p class="m-0"><b>São Paulo - SP</b></p>
						</div>
						<div class="d-flex align-items-center flex-wrap pt-3" >
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>
							<div class="main-card-tag">
								<p class="m-0">TAG 1</p>
							</div>

						</div>

					</div>
					<div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					</div>
				</div>
			  </div>
			</div>
			<div class="col mb-4">
				<div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				  <img src="https://expresso.estadao.com.br/wp-content/uploads/2021/09/ODS-Igualdade-de-Genero-Getty.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex" >
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Marcha pelos direitos das mulheres</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
  
						  </div>
  
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					  </div>
				  </div>
				</div>
			  </div>
			<div class="col mb-4">
				<div class="card h-100 main-card" style="border-radius: 20px;" data-toggle="modal" data-target=".bd-example-modal-lg">
				  <img src="https://www.estudoemdia.com.br/wp-content/uploads/2021/09/ED_dia_arvore.jpg" class="card-img-top main-card-img" alt="...">
				  <div class="card-body d-flex">
					  <div class="d-flex flex-column pr-2" style="width: 70%;">
						  <h6>Plantar árvores no parque</h6>
						  <div class="d-flex align-items-center main-card-sm-text">
							  <i class="fas fa-map-marker-alt mr-1"></i>
							  <p class="m-0"><b>São Paulo - SP</b></p>
						  </div>
						  <div class="d-flex align-items-center flex-wrap pt-3" >
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
							  <div class="main-card-tag">
								  <p class="m-0">TAG 1</p>
							  </div>
						  </div>
					  </div>
					  <div class="d-flex flex-row-reverse flex-wrap pl-2 justify-content-between align-items-start" style="width: 30%; height:min-content;">
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>
						<img src="https://www.unicesumar.edu.br/extensao/wp-content/uploads/sites/61/2016/05/E_SDG_Icons_NoText-02.jpg" alt="ODS 2" class="main-card-ods"/>

					  </div>
				  </div>
				</div>
			</div>
		</div>			
	</div>
</div>
<div class="row d-flex justify-content-center mt-3 mb-5">
	<button class="main-btn-load d-flex align-items-center"><i class="fas fa-plus mr-2"></i>Carregar mais</button>
</div>


<%- contentFor("styles") %>

<style type="text/css">

	body::-webkit-scrollbar{
		display: none;
	}
	
	.main-bg{
		background-color: #fff;
		min-width: 100vw;
		min-height: 100vh;
		margin: 0;
	}
	.main-input{
		border-radius: 30px;
		border: 2px solid #cecece;
	}

	.main-input:focus{
		border: 2px solid var(--blue);
	}

	.main-slider-img{
		width: 100%;
		height: 700px;
	}

	.main-slider-caption{
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		bottom: 20px;
		z-index: 10;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #fff;
		text-align: center;
	}

	
	.main-card{
		transition: .1s;
		transition-timing-function: linear;
	}

	.main-card:hover{
		opacity: .75;
		cursor: pointer;
	}

	.main-card-img{
		height: 60%
	}

	.main-card-sm-text{
		font-size: .7em;
	}

	.main-card-tag{
		background-color: var(--blue);
		border-radius: 30px;
		padding: 3px 6px;
		font-size: .6em;
		color: #fff;
		margin: 0 2px 3px 0
	}
	
	.main-card-ods{
		width: 30px;
		height: 30px;
		margin-bottom: 3px;
		
	}

	.main-btn-load{
		background-color: #fff;
		border: 0;
		color: var(--blue)
	}

	
	/* MODAL */
	
	.main-modal-project-name{
		margin: 0;
	}
	
	.main-modal-sign{
		margin: 0;
		color: var(--blue);
		font-weight: 400;
		font-size: .8rem;
	}
	.main-modal-org-name{
		font-weight: 600;
	}

	.main-modal{
		padding: 20px 30px
	}

	.main-modal-img{
		width: 300px;
		height: 250px;
	}

	.main-modal-ods{
		width: 70px;
		height: 70px;
		margin: 0 8px 5px 0;
	}

	.main-modal-p-head{
		font-weight: 700;
		margin: 12px 0 0 0;
		font-size: .8em;
	}

	.main-modal-p-body{
		text-align: justify;
  		text-justify: inter-word;
		margin: 0

	}

	.main-modal-deco{
		width: 8px;
		background-color: var(--blue);
		margin-right: 8px;
		

	}

	.main-modal-label{
		margin: 0;
		font-weight: 600;
		font-size: .66rem;
	}

	.main-modal-label-header{
		margin: 0;
		overflow-wrap: break-word;
	}

	.main-modal-info{
		width: 65%;
	}

	.main-modal-contato{
		width: 35%;

	}

	.main-modal-info-p{
		text-align: justify;
		margin: 0 15px 0 0;
	}

	.main-modal-check{
		color: var(--blue);
	}

	.main-modal-contact-p{
		font-size: .65em;
		margin-bottom: 10px;
		font-weight: 800;
	}

	.main-modal-textarea{
		background-color: rgba(122, 190, 105, 0.507);
		border: 0;
		width: 70%;
		border-radius: 20px;
		padding: 15px;
		height: 150px;
		resize: none;
		-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none;  /* Firefox */
	}

	.main-modal-textarea::-webkit-scrollbar{
		display: none;
	}

	.main-modal-textarea:focus{
		outline: none !important;
		border:1px solid #cecece;
		box-shadow: 0 0 5px 0 #719ece67;
	}

	/* RESPONSIVENESS */
	@media only screen and (max-width: 1280px) {
		.main-slider-img{
			width: 100%;
			height: 500px;
		}
	}
	@media only screen and (max-width: 992px) {
		.main-slider-img{
			width: 100%;
			height: 450px;
		}
	}
	@media only screen and (max-width: 768px) {
		.main-slider-img{
			width: 100%;
			height: 400px;
		}
		.main-modal-textarea{
			width: 100%;
			border-radius: 20px;
			padding: 15px;
			height: 150px;
		}
	}
	@media only screen and (max-width: 576px) {
		.main-slider-img{
			width: 100%;
			height: 300px;
		}
	}

</style>

<%- contentFor("scripts") %>
<script src="<%- staticRoot %>/lib/chart.js/chart.min.js"></script>
<script src="<%- staticRoot %>/js/exemplo/chart-area.js"></script>
<script src="<%- staticRoot %>/js/exemplo/chart-pie.js"></script>
