<div class="container-fluid">
	<div class="row login-bg login-text">
		<!-- Logo && Separator -->
		<div class="col-lg-4 d-flex flex-row justify-content-center">
			<div class="col-sm-11 d-flex flex-column login-logo-div justify-content-center py-3">
				<img class="login-logo " src="<%- staticRoot %>/img/logoBranco.png" alt="floresta"/>
			</div>
			<div class="col-sm-1 d-flex flex-row align-items-center justify-content-center login-separator-div">
				<div class="login-separator"></div>
			</div>
		</div>

		<!-- Frase -->
		<div class="col-lg-3 d-flex flex-row align-items-center justify-content-center">
			<h3 class="login-title text-center text-lg-left">ninguém deixado para trás.</h3>
		</div>

		<!-- Card Login -->
		<div class="col-lg-5 d-flex flex-column align-items-center justify-content-center">
			<div class="d-flex flex-column align-items-center justify-content-center login-card my-3">
				<form id="form" class="d-flex flex-column w-100 align-items-center" method="POST" action="<%- root %>/login">

					<% if (mensagem) { %>
						<div class="alert alert-danger text-center w-100"><%= mensagem %></div>
					<% } %>

					<input type="email" name="email" id="email" placeholder="E-mail" class="form-control form-control-user py-4" spellcheck="false">

					<input type="password" name="senha" id="senha" placeholder="Senha" class="mb-3 mt-4 form-control form-control-user py-4">

					<div class="d-flex flex-row justify-content-between mb-3 w-100 small form-text">
						<div class="d-flex">
						</div>

						<a href="#" onclick="recuperarSenha(); return false;">
							Esqueci minha senha!
						</a>
					</div>
					<button type="submit" class="btn btn-primary btn-block">Login</button>
				</form>
				
				<hr style="width: 100%;" />

				<!-- Criar nova conta -->
				<a href="<%- root %>/registro">Criar nova conta!</a>

			</div>
			
		</div>
	</div>
</div>

<!-- Style CSS -->
<%- contentFor("styles") %>

<style type="text/css">
	.login-bg {
		height: 100vh;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			email: {
				required: true,
				emailCustom: true
			},
			senha: {
				required: true
			}
		}
	});

	function recuperarSenha() {
		if (JsonWebApi.active)
			return;

		var email = $("#email").val().toLowerCase();

		if (!email || email.indexOf("@") <= 0) {
			Swal.error("Por favor, preencha seu e-mail " + emoji.sad);
			return;
		}

		Swal.wait();

		JsonWebApi.post("<%- root %>/api/usuario/redefinirSenhaExterno", null, function (response) {
			if (response.success)
				Swal.success({ html: 'Você receberá uma mensagem no e-mail ' + email + ', com instruções de como redefinir sua senha! ' + emoji.happy + '<br/><br/><b>Caso não consiga encontrar a mensagem, por favor, não se esqueça de procurar na pasta "Spam" ou "Lixo eletrônico"!</b>' });
			else
				Swal.error(response.value + " " + emoji.sad);
		}, "email", email);
	}

	//]]>
</script>
