<div class="limitador mt-4">
	<title>Quem Somos</title>
	<div class="espaco">
		<main>
		<h1 class="img-title"><span class="title">Quem <br/> Somos?</span></h1>
		<section>
			<h2 class="subtitle">Setembro de 2015</h2>
				<hr class="barra-horizontal"/>
				<p class="texto">
					193 Estados-membros da ONU, adotaram o documento 
					<span class="bold">"Transformando o Nosso Mundo: 
						A Agenda 2030 para o Desenvolvimento Sustentável"
					</span>
					<span class="margin-top">
						Norteia medidas ousadas e transformadoras para 
						promover o desenvolvimento sustentável pelos 15
						anos seguintes.
					</span>
					<span class="margin-top">
						Trata-se de um plano de ações para pessoas,
						governos, empresas, academia e sociedade que busca 
						fortalecer a paz mundial.
					</span>
				</p>
			<hr class="barra-laranja"/>
		</section>

		<section>
			<h2 class="subtitle margin-top-2">O plano</h2>
				<hr class="barra-horizontal"/>
				<p class="texto">
					Esse plano toma forma nos 
					<span class="bold">17 Objetivos de Desenvolvimento
						Sustentável (ODS) e suas 169 metas.
					</span>
					Eles são o núcleo da Agenda, integrados e indivisíveis,
					e mesclam, de forma equilibrada, as três dimensões do 
					desenvolvimento sustentável: econômica, social e ambiental.
				</p>
			<hr class="barra-laranja"/>
			<img alt="Objetivos de Desenvolvimento Sustentável" src="<%- staticRoot %>/img/InfograficoTerra2030_03.png"/>
		</section>

		<section>
		<h2 class="subtitle margin-top-2">Agenda 2030 e os ODS</h2>
			<hr class="barra-horizontal"/>
				<p class="texto">
					A Agenda 2030 e os ODS combinam os processos dos  
					<span class="bold">
						Objetivos do milênio
					</span>
					e os processos resultante da 
					<span class="bold">
						Rio+20,
					</span>
					tendo inaugurado uma nova fase para o crescimento 
					dos países, integrando todos os componentes
					do desenvolvimento sustentável.
				</p>
			<hr class="barra-laranja"/>
			<img alt="Desenvolvimento Sustentável" src="<%- staticRoot %>/img/InfograficoTerra2030_04.png"/>
		</section>

		<section>
			<hr class="barra-horizontal"/>
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-4">
						<img alt="Desenvolvimento Sustentável" class="img-lateral" src="<%- staticRoot %>/img/antonioguterres.png"/>
						<p class="img-subtitle">António Guterres</p>
					</div>
					<div class="col-sm-8">
						<p class="texto flex">
							Pelas palavras do Secretário-Geral da ONU, António Guterres,
							"a Agenda 2030 é a nossa Declaração Global de Interdependência"
							<hr class="float barra-laranja"/>
						</p>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h2 class="subtitle margin-top-2">O objetivo</h2>
				<hr class="barra-horizontal"/>
					<p class="texto">
						Atuar no desenvolvimento de cidades e territórios
						sustentáveis com a criação da 
						<span class="bold">
							Plataforma Terra 2030
						</span>
						um hub de soluções sociais alinhadas à Agenda 2030 
						aberta à toda sociedade.
					</p>
				<hr class="barra-laranja"/>
				<img alt="Desenvolvimento Sustentável" src="<%- staticRoot %>/img/InfograficoTerra2030_04.png"/>
		</section>

		<section>
			<h2 class="subtitle margin-top-2">
				A plataforma
			</h2>
				<hr class="barra-horizontal"/>
					<p class="texto">
						Aqui você encontra ações realizadas por todo o país
						e poderá fazer contato com seus desenvolvedores, estabelecendo
						uma rede em prol do  
						<span class="bold">
							desenvolvimento sustentável.
						</span>
						<span class="margin-top">
							Você encontra também informações sobre a Agenda 2030
							e as atividades realizadas pela ESPM, EFA 2030/Fiocruz e pela UNFPA Brasil,
							incluindo o Fórum Anual Terra 2030, realizado sempre no mês de dezembro.
						</span>
					</p>
				<hr class="barra-laranja"/>
				<img alt="Terra 2030" src="<%- staticRoot %>/img/InfograficoTerra2030_07.png"/>
		</section>
		</main>
	</div>
	<div class="borda"></div>
</div>

<%- contentFor("styles") %>

<style type="text/css">

	.margin-top{
		margin-top: 1rem;
	}

	.margin-top-2{
		margin-top: 2rem;
	}

	.img-subtitle{
		font-size: 1rem;
		font-style: italic;
		text-align: left;
		margin-left: 4%;
	}

	.img-lateral{
		max-width: 100%;
		margin-left: 4%;
	}

	.barra-laranja{
		background-color: orange;
		height: 1px;
		width: 5%;
		border-radius: 10px;
		margin-top: 0;
		margin-left: 7%;
	}

	.texto{
		margin-left: 7%;
		padding-left: 1.3rem;
		font-size: 1.7rem;
		border-left: 2px solid orange;
		margin-bottom: 0;
		padding-bottom: 0.8rem;
	}

	.bold{
		font-weight: bold;
	}

	.subtitle{
		color: #1A476A;
		font-weight: bolder;
		font-size: 2.7rem;
		text-transform: uppercase;
		margin-left: 7%;
	}

	.barra-horizontal{
		background-color: #4C9F38;
		height: 0.33em;
		border-radius: 10px;
		margin-top: 0;
		width: 80%;
		margin-left: 0;
	}

	.title{
		color: #1A476A;
		position: relative;
		font-weight: bolder;
	}

	@media (max-device-width: 1024px) {
		.img-title{
			width: 100%;
			height: 20rem;
		}
		.title{
			top: 35%;
			font-size: 3rem;
		}
	}

	@media (min-device-width: 1025px) {
		.img-title{
			width: 50%;
			height: 22rem;
		}
		.title{
			top: 35%;
			font-size: 3.3rem;
		}
	}

	@media (max-device-width: 420px) {
		.img-title{
			height: 20rem;
		}
		.title{
			font-size: 2.2rem;
		}
	}

	.img-title{
		background-image: url("<%- staticRoot %>/img/InfograficoTerra2030_09.png");
		background-size: contain;
		text-align: center;
		background-repeat: no-repeat;
		background-position: center;
	}

	.limitador {
		max-width: 1000px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.espaco {
		padding-left: 15%;
	}

	.borda {
		position: absolute;
		width: 15.5%;
		left: 0;
		top: 0;
		bottom: 0;
		background-color: var(--primary);
		background-image: url('<%- staticRoot %>/img/corte.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: left top;
	}

	img {
		width: 100%;
	}
</style>

<%- contentFor("scripts") %>
<script type="text/javascript">
	//<![CDATA[
	"use strict";

	//]]>
</script>
